@font-face {
  font-family: 'arcade';
  src: url('./assets/fonts/ARCADECLASSIC.TTF');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: arcade, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  background-image: url('./assets/images/poke-sky.jpg');
  background-size: cover;
}

@media screen and (min-width: 760px){
  .container{
    display: flex;
  }
}